body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #026670;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.nav-bar {
    width: 1024px;
    border-bottom: 1px solid rgb(206, 206, 206)
}

.nav-links {
    margin: 0 10px;
    padding: 0.2em 0.2em 0.2em 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    font-size: 1.3em;;
    list-style: none;
}

.nav-item {
    display: flex;
    padding-left: .4em;
}

@media all and (max-width: 400px) {
    .nav-links {
        flex-direction: column;
        justify-content: flex-start;
    }

    .nav-item {
        padding-top: .4em;
    }
}

.index-body {
    display: flex;
    justify-content: center;
    min-width: 400px;
}

.recipe-container {
    display: flex;
    width: 1024px;
    justify-content: center;
    flex-direction: column;
    /*border: 1px solid black;*/
}

.recipe-box {
    /*border: 1px solid red;*/
    margin: 5px 5px 20px 5px;
    padding: 5px 2px 2px 2px;
    border-bottom: 1px solid rgb(206, 206, 206)
}


.recipe-summary {
    float: left;
    font-style: italic;
    /*border: 1px solid blue;*/
}

.recipe-data {
    float: right;
    text-align: right;
    font-style: italic;
    /*border: 1px solid green;*/
}

.recipe-details {
    /*border: 1px solid black;*/
}

.recipe-name {
    text-align: center;
    font-size: 1.3em;
}

.recipe-image {
    float: right;
    max-height: 150px;
    max-width: 300px;
    padding-top: 40px;
}

.recipe-ingredients {
    padding-top: 10px;
}
.recipe-creator {
    clear: both;
    display: inline;
}

.read-more {
    clear: both;
    display: inline;
    float: right;
}

.recipe-expand {
    display: none;
}

.read-less {
    clear: both;
    float: right;
}

.add-body, .menu-body {
    display: flex;
    justify-content: center;

}

.add-form, .menu-form {
    margin-top: 10px;
    width: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    min-width: 400px;
}

.add-form label, .menu-form label {
    margin-top: 10px;
}

.add-submit, .menu-submit {
    margin-top: 10px;
}