{% extends "cooking/layout.html" %}

{% block body %}
<div class="browse-body">
    <div class="browse-container">
        <div class="browse-category">
            <h2>Browse Menus:</h2>
            {% for menu in menus %}
                <p>{{ menu }}</p>
            {% endfor %}    
                
        </div>
        <div class="browse-category">
            <h2>Browse by Cuisine:</h2>
            {% for cuisine in cuisines %}
                <p>{{ cuisine }}</p>
            {% endfor %}

        </div>
        <div class="browse-category">
            <h2>Browse by Course:</h2>
                <p>Starter</p>
                <p>First</p>
                <p>Second</p>
                <p>Side</p>
                <p>Dessert</p>
        </div>
    </div>
</div>
{% endblock %}