{% extends "cooking/layout.html" %}
{% load static %}

{% block body %}
<div class="browse-body">
    <div class="browse-container">
        {% if menus %}
        <div class="browse-category">
                <h2>Browse Menus:</h2>
                {% for menu in menus %}
                    <a href="{% url 'menu' menu.title|slugify %}">{{ menu }}</a>
                {% endfor %}     
        </div>
        
        <div class="browse-category">
            <h2>Browse by Cuisine:</h2>
            {% for cuisine in cuisines %}
                <a href="{% url 'cuisine' cuisine|slugify %}">{{ cuisine }}</a>
            {% endfor %}
        </div>

        <div class="browse-category">
            <h2>Browse by Course:</h2>
                <a href="{% url 'course' 'starter' %}">Starter</a>
                <a href="{% url 'course' 'first' %}">First</a>
                <a href="{% url 'course' 'second' %}">Second</a>
                <a href="{% url 'course' 'side' %}">Side</a>
                <a href="{% url 'course' 'dessert' %}">Dessert</a>
        </div>
        {% endif %}
    </div>

        
    {% if menu_item %}
    <div class="browse-menu">
        <h3 class="menu-title">{{ menu_item.title|capfirst }}</h3>
        {% if menu_item.starter %}
        <a href="{% url 'recipe' menu_item.starter|slugify %}">{{ menu_item.starter }}</a>
        {% endif %}
        {% if menu_item.first %}
        <a href="{% url 'recipe' menu_item.first|slugify %}">{{ menu_item.first }}</a>
        {% endif %}
        {% if menu_item.second %}
        <a href="{% url 'recipe' menu_item.second|slugify %}">{{ menu_item.second }}</a>
        {% endif %}
        {% if menu_item.side1 %}
        <a href="{% url 'recipe' menu_item.side1|slugify %}">{{ menu_item.side1 }}</a>
        {% endif %}
        {% if menu_item.side2 %}
        <a href="{% url 'recipe' menu_item.side2|slugify %}">{{ menu_item.side2 }}</a>
        {% endif %}
        {% if menu_item.side3 %}
        <a href="{% url 'recipe' menu_item.side3|slugify %}">{{ menu_item.side3 }}</a>
        {% endif %}
        {% if menu_item.dessert %}
        <a href="{% url 'recipe' menu_item.dessert|slugify %}">{{ menu_item.dessert }}</a>
        {% endif %}
        {% if user.is_authenticated and user == menu_item.creator %}
        <button class="menu-delete">Delete</button>
        {% endif %}
    </div>
    {% endif %}

    {% if recipes %}
    <div class="browse-cuisine">
        <h3>{{ category }}</h3>
        {% for recipe in recipes %}
            <a href="{% url 'recipe' recipe.name|slugify %}">{{ recipe.name }}</a>
        {% endfor %}
    </div>
    {% endif %}

</div>
{% endblock %}

{% block script %}
    <script src="{% static 'cooking/index.js' %}"></script>
{% endblock %}