{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>How We Eat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'cooking/styles.css' %}" rel="stylesheet">
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <header class="nav-container">
            <nav class="nav-bar">
                <ul class="nav-links">
                    <a class="site-header" href="{% url 'index' %}">How We Eat</a>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'add' %}">Add Recipe</a></li>
                    <li class="nav-item"><a href="{% url 'new_menu' %}">Make Menu</a></li>
                    {% endif %}
                    <li class="nav-item"><a href="{% url 'browse' %}">Browse Recipes</a></li>
                    <li class="nav-item"><a href="{% url 'search' %}">Search</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'logout' %}">Logout</a></li>
                    <li class="nav-item"><a href="{% url 'profile' request.user %}">{{ request.user }}</a></li>
                    {% else %}
                    <li class="nav-item"><a href="{% url 'register' %}">Register</a></li>
                    <li class="nav-item"><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
    </header>


        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>